<h1>Portfolios</h1>
<div id='port'>
</div>
<script>
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open( "GET", '/getEveryUser', false ); // false for synchronous request
  xmlHttp.send( null );
  var Users = JSON.parse(xmlHttp.responseText);


  var a = '<ul>',
    b = '</ul>',
    m = [];

var currentWork;

    // Right now, this loop only works with one
    // explicitly specified array (options[0] aka 'set0')
    for (i = 0; i < Users.length; i += 1){
      var works = Users[i].works.split('^');
      used = 0;
      currentWork = '';
      for(var j = 0;used!=2&& j < works.length; j++)
      {
        if(works[j]!=''){
        currentWork +=  works[j] + '<br>';
        used++;
        }
      }

      m[i] = '<li>' + Users[i].name +'<br>'+ currentWork+ '</li>';
    }

document.getElementById('port').innerHTML = a + m + b;


</script>
