<html>
<head></head>
<h2>Welcome </h2>
<h3> Please choose </h3>
<body>
<form method="POST" action="/customer">
  <input type= "submit" value= "Customer">
</form>
<form method="POST" action="/student">
  <input type= "submit" value= "Student">
</form>
</body>
</html>
